.modal-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}


.confirm-modal {
    background: rgb(19, 27, 72);
    color: white;
    padding: 2rem;
    border-radius: 2rem;
}

h2 {
   color: #d0ab60;
}
